* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #00ABEA;
    color: #F4B05E;
}

img {
    width: 150px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 20px;
}


#output {
    font-size: 2rem;
}
/* h2 {
    text-align: center;
    color: #163263;
} */

.btn-wrapper {
    display: flex;
}

button {
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: #163263;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, .5);
    cursor: pointer;
}

#start {
    background-color: #389B50;
}

#reset {
    background-color: #CD4152;
}